* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;

}

nav a {
    position: relative;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    color: #333;
    padding: 6px 20px;
    transition: .5s;
}
nav a:hover {
    color: #0ef;
}

nav a span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-bottom: 2px solid #0ef;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
    border-radius: 15px;
}

nav a:hover span {
    transform: scale(1) translateY(0);
    opacity: 1;
}